.Header {
    position: fixed;
    z-index: 998;
    top: 0;
    padding: .5rem;
    width: 50%;
    margin-left: -100vw;
    transition: margin-left .2s ease;
    height: 100vh;
    background-color: var(--second-color);
    &.is-active {margin-left: 0;}
    &-btn {
        position: fixed;
        z-index: 999;
        top: var(--logo-spacing);
        right: var(--logo-spacing);
        display: flex;
        width: var(--logo-width);
        height: var(--logo-height);
        background-color: var(--second-color);
        @include mq(m) {display: none;}
        & {
            &.hamburger:focus {
                outline: 0;
                border: 0;
            }
            .hamburger {
                &-inner,
                &-inner:after,
                &-inner:before {
                    background-color: var(--link-color);
                    width: 100%;
                }
            }
        }
    }
}